.content{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.content img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: .7;

    margin-bottom: -51px;
}

.contact{
    z-index: 2;
    width: 400px;
    color: #fff;
    margin-left: 100px;
    padding-top: 40px;
    height: 500px;
}

.contact h1{
    z-index: 2;
    font-size: 40px;
}

.contact span{
    z-index: 2;
    margin-top: 20px;
}

.contact button{
    width: 150px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #ddb4e4;
}

.contact button:hover{
    background-color: #ba68c8;
    transition: .5s;
}

.button{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button svg{
    font-size: 25px;
}

@media (max-width: 880px){
    .content img{
        /* display: none ; */
        opacity: .3;
    }
}
@media (max-width: 780px){

    .contact {
        height: 700px;
    }
}

@media (max-width: 580px){

    .contact {
        margin: 0 auto;
    }
}
@media (max-width: 370px){

    .contact {
        height: 760px;
        margin: 0 auto;
    }
}